<?xml version="1.0" encoding="UTF-8"?>
<authapp>
	<config>
		<id>UCF2355k12</id>
	</config>
	<users>
		<user>
			<username>admin</username>
			<password>adminpassword</password>
		</user>
		<user>
			<username>admin</username>
			<password>adminpassword</password>
		</user>
		<user>
			<username>admin</username>
			<password>adminpassword</password>
		</user>
		<user>
			<username>admin</username>
			<password>adminpassword</password>
		</user>
		<user>
			<username>admin</username>
			<password>adminpassword</password>
		</user>
		<user>
			<username>admin</username>
			<password>adminpassword</password>
		</user>
		<user>
			<username>churka</username>
			<password>gaysex</password>
		</user>
	</users>
</authapp>