<?xml version="1.0" encoding="UTF-8"?>
<authapp>
	<config>
		<auth>0</auth>
		<passwordpolicy>7</passwordpolicy>
		<maxtries>3</maxtries>
		<timeout>60</timeout>
		<maxpasswordlength>16</maxpasswordlength>
		<minpasswordlength>3</minpasswordlength>
		<id>UCF2355k12</id>
	</config>
	<users>
		
		
		
		
		
		
		
	<user><username>churka</username><password>pivo</password><group>daun</group></user></users>
</authapp>

